:root {
  --blue: #1e90ff;
  --white: #fffcde;
  --bg: #758cb79c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  user-select: none;
}

body {
  background-color: var(--bg);
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2%;
  display: grid;
  align-items: center;
}

.section {
  min-width: 585px;
  background-color: var(--white);
  padding: 35px;
  border-radius: 35px;
  box-shadow: 0 0 25px 12px rgba(0, 0, 0, 0.1529411765);
  animation: open 1.5s ease-in;
}

.main {
  margin: 0 auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: 4fr 2fr;
  position: relative;
  column-gap: 10px;
}
.main .a {
  height: 500px;
  border-radius: 25px;
  padding: 25px;
  position: relative;
  background: url("https://images.unsplash.com/photo-1518989229647-6377f907a0b2?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
.main .a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 25px;
  background-color: transparent;
  top: 250px;
  right: 0;
  box-shadow: 10px 10px 0 0 var(--white);
}
.main .b {
  height: 300px;
  background: url("https://images.unsplash.com/photo-1558648243-33c2ca3bf161?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 50% 72%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  padding: 25px;
  color: var(--white);
}
.main .text {
  width: 700px;
  height: 201px;
  position: absolute;
  padding: 25px 25px 25px 70px;
  background-color: var(--white);
  bottom: -1px;
  right: 0;
  border-top-left-radius: 25px;
  text-align: left;
}
.main .text p {
  background: url("https://images.unsplash.com/photo-1518989229647-6377f907a0b2?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 77.5% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 800;
}
@media screen and (max-width: 1150px) {
  .main .text {
    width: 100%;
    z-index: 999;
  }
}
.main .text::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 25px;
  background-color: transparent;
  bottom: 0;
  left: -50px;
  box-shadow: 10px 10px 0 0 var(--white);
  z-index: 999;
}
@media screen and (max-width: 1150px) {
  .main .text::before {
    display: none;
  }
}
.main .left {
  width: 101px;
  height: 201px;
  position: absolute;
  background-color: var(--white);
  bottom: -1px;
  left: -1px;
  border-top-right-radius: 25px;
}
.main .left::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 23px;
  background-color: transparent;
  bottom: 0;
  left: 100px;
  box-shadow: -30px 0 0 0 var(--white);
}
.main .left::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 23px;
  background-color: transparent;
  top: -49.7px;
  left: 0;
  box-shadow: -30px 0 0 0 var(--white);
}

@keyframes open {
  from {
    transform: scale(0) translateY(-1500px);
  }
  to {
    transform: scale(1) translateY(0);
  }
}/*# sourceMappingURL=style.css.map */